.social-login
  button.social-login--github
    a(href=routes.github)
      span
        i.fab.fa-github
      | Githubで始める
  button.social-login--line
    a(href=routes.line)
      span
        i.fab.fa-line
      | LINEで始める