extends layouts/main

block content
  .form-container
    form(action=`${routes.user}${routes.changePassword}`, method='POST')
      input(type='password', name='oldPassword', placeholder='現在のパスワード')
      input(type='password', name='newPassword', placeholder='新しいパスワード')
      input(type='password', name='newPassword1', placeholder='新しいパスワード（再確認）')
      input(type='submit', value='変更')