@keyframes download {
    0% {
        transform: translateY(7px);
    }
    20% {
        transform: translateY(14px);
    }
    40%{
        transform: translateY(21px);
    }
    60%{
        transform: translateY(29px);
    }
    80%{
        transform: translateY(37px);
    }
    100% {
        transform: translateY(47px);
    }
}

.record-container {
    width: 100%;
    max-width: 520px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    video{
        background-color: $black;
        width: 100%;
        margin-bottom: 15px;
    }
    button{
        background-color: orangered;
        z-index: 1;
    }
    a{
        position: relative;
        margin-top: 12px;
        z-index: 0;
        bottom: 47px;
        animation: download 0.35s ease-in forwards;
    }
    button.download{
        background-color: coral;
    }
    button.recording{
        background-color: coral;
    }
    
}